.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: rgb(17, 139, 196);
  border: none;
}

.incorrect {
  background-color: rgb(17, 139, 196);
  border: none;
}

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 25rem;
  height: 4.4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  width: 1%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  color: rgb(13, 24, 29);
  background-color: #56a5eb;
}

.temp {
    display: flex;
    justify-content: center;
  margin-top: 1rem;

}

.savebtn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid white;
  color: white;
  background-color: #56a5eb;

}

.savebtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(0.1rem);
  transition: transform 150ms;
}
