.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 165, 235, 0.25);
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.select_choice {
  background-color: rgb(17, 139, 196);
  border: none;
}

.correct {
  background-color: rgb(27, 173, 27);
  border: none;
}

.incorrect {
  background-color: rgb(236, 57, 57);
  border: none;
}

#hud {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 25rem;
  height: 4.4rem;
  border: 0.3rem solid #56a5eb;
  margin-top: 1.5rem;
}

#progressBarFull {
  width: 1%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 40px;
  color: rgb(13, 24, 29);
  background-color: #56a5eb;
}

.saveAndNext {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  gap: 10px;
}

.nextBtn,
.saveBtn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 12rem;
  text-align: center;
  border: 0.1rem solid white;
  color: white;
  background-color: #56a5eb;
}

.nextBtn:hover,
.saveBtn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

@media only screen and (max-width: 768px) {
  .choice-prefix {
    padding: 1.2rem 2rem;
    font-size: 1.6rem;
  }

  .choice-text {
    padding: 1.2rem;
  }

  #hud {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 2rem; 
  }

  .hud-prefix {
    font-size: 2rem;
  }

  .hud-main-text {
    font-size: 1.8rem; 
    margin-top: 1rem; 
  }

  #progressBar {
    max-width: 28rem; 
    height: 3.4rem;
    margin: 1rem;
  }

  #progressBarFull {
    font-size: 1.4rem; 
    line-height: 3.1rem; 
  }
}

